*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../images/bg.jpg);
    width: 100%;
    height: 100dvh;
    color: var(--white-color);
    background-size: cover;
    background-position: center;
    font-family: "Poppins", sans-serif;
    position: relative;
    z-index: 0;

}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    background: rgba(0, 0, 0, 0.233);
    z-index: -1;
    backdrop-filter: blur(5px);
}

body.dark::before {
    background: rgba(0, 0, 0, 0.637);
}

:root {
    --background-dark: rgba(0, 0, 0, 0.7);
    --background-light: rgba(255, 255, 255, 0.432);
    --black-color: rgb(255, 255, 255);
    
    --white-color: black;
    --weather-color: #7ccbff;
    --weather-color-dark: #00127a;



}

/* navbar styles  */
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.background-nav {
    background-color: var(--background-light);
    border-radius: 80px;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    -ms-border-radius: 80px;
    -o-border-radius: 80px;
    backdrop-filter: blur(18px);
}

.animated-gradient {
    width: 130px;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 700;
    color: var(--white-color);
    text-align: center;
    border-radius: 50%;
    letter-spacing: 2px;
    background: linear-gradient(135deg,
            var(--weather-color),
            var(--weather-color-dark), #004b8d, #009dff);
    background-size: 300% 300%;
    animation: gradientMove 4s infinite;
    -webkit-animation: gradientMove 4s infinite;
}

.navbar-buttons {
    display: flex;
    gap: 15px;
    align-items: center;

}

.animated-btn {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 600;
    color: var(--white-color);
    background: transparent;
    border: 2px solid var(--white-color);
    border-radius: 50px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    z-index: 6;
}

.animated-btn::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(45deg,
            var(--weather-color),
            var(--weather-color-dark),
            #004b8d,
            #009dff);
    background-size: 300% 300%;
    border-radius: 50px;
    z-index: 0;
    opacity: 0;
    transition: all 0.3s;
    animation: gradientMove 6s infinite;
}

.animated-btn:hover::before {
    opacity: 1;

}

.navbar-toggler {
    font-size: 24px;
    cursor: pointer;
    color: var(--white-color);
}

#navbarMenu.show {
    display: flex !important;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    padding: 10px;
    transition: all 3s;
    -webkit-transition: all 3s;
    -moz-transition: all 3s;
    -ms-transition: all 3s;
    -o-transition: all 3s;
}


.dark-toggle {
    margin-left: auto;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: 2px solid var(--white-color);
    background: transparent;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.4s, ;
    color: white;

}

.dark-toggle:hover {
    background: linear-gradient(45deg,
            var(--weather-color),
            var(--weather-color-dark),
            #004b8d,
            #009dff);
    color: var(--black-color);
}


.moon-icon {
    position: absolute;
    font-size: 20px;
    opacity: 0;
    transition: opacity 0.4s;
}

.sun-icon {
    font-size: 20px;
    opacity: 1;
    transition: opacity 0.4s;
}



body.dark .sun-icon {
    opacity: 0;
}

body.dark .moon-icon {
    opacity: 1;
}

/* wether box styles */

main {
    height: 100vh;
}

section {
    height: 100vh;
}

#box {
    margin-block: px;
}

.box-bg {
    backdrop-filter: blur(10px);
    padding-block: 100px !important;
    background-color: var(--background-light);
}

/* input styles  */
input {
    background-color: var(--background-dark);
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0);
    color: var(--black-color);
    border-radius: 40px;
    backdrop-filter: blur(20px);
    padding: 20px;
    font-weight: 700;
    padding-right: 60px;
    font-style: 1.5rem;
    transition: all 500ms;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    -o-transition: all 500ms;
}

input:focus {
    border: 2px solid var(--white-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.925);
}

input::placeholder {
    color: var(--black-color);
    font-style: 1.5rem;
    font-weight: 700;
}
button i {
color: var(--white-color);
}


#box .app-box i:hover {
    border-radius: 40px;
    border: 2px solid var(--black-color);
}

.content i {
    color: var(--white-color);
    font-size: 22px;

}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}